body{
	background: #222;
	margin: 1em auto;
}

#hd,#bd,#ft{
	margin: 0.5em 0;
}

#sidebar{
	text-align:center;
}

#sidebar h2{
	text-align:left;
}
.collapsible .panel{
	
}

.panel{
	background: #eee;
	font-size: 123.1%;
	padding: 1em;
	border: #999 thin solid;
	margin-bottom: 0.5em;	
}

#sidebar a{
	display:block;
}
#sidebar a:hover{
	color: #000;
}

h2{
	font-size:123.1%;
	font-weight:bold;
}

.textbox{
	width:98%;
	margin: 0 auto;
}

form.boxlayout{
	display:block;
	text-align:center;
}

form.boxlayout label{
	font-weight:bold;
}



